<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>What is Gigku?</h2>
                <p class="lead">
                Gigku is a marketplace that facilitates quick and transparent connect between artists and event planners. First of its kind booking service where all the artists are verified and reviewed in order to ensure we offer you nothing less than the best. 
                </p>
                <p = class="lead">
                We are here to manage the entire process through to completion. Starting from providing various options, guiding party planners to the best-suited artists and connecting them. Concluding with payment services and contract formalities. We do it all!
                </p>
            </div>
        </div>
    </div>
</section>