<footer section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Gigku</strong>
                </h4>
                <p class="lead">GEPI Ciputra World 1<br>Jakarta</p>
                <ul class="list-unstyled">
                    <!--<li><i class="fa fa-phone fa-fw"></i> (62) 81231799474</li>-->
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">hellogigku@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Gigku 2016</p>
            </div>
        </div>
    </div>
</footer>
