<div id="page-top">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a id="menu-toggle" href="#" class="btn btn-light btn-lg toggle"><i class="fa fa-bars"></i></a>   
            <nav id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                    <li class="sidebar-brand">
                        <a href="#top"  onclick = $("#menu-close").click(); >Gigku</a>
                    </li>
                    <li>
                        <a href="#top" onclick = $("#menu-close").click(); >Home</a>
                    </li>
                    <li>
                        <a href="#about" onclick = $("#menu-close").click(); >About</a>
                    </li>
                    <li>
                        <a href="#services" onclick = $("#menu-close").click(); >How it works</a>
                    </li>
                    <li>
                        <a href="#portfolio" onclick = $("#menu-close").click(); >Artists Categories</a>
                    </li>
                    <li>
                        <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
                    </li>
                </ul>
            </nav>
            <a class="navbar-brand bg-white page-scroll" href="#page-top">Gigku</a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse bg-white navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">How it works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Artists Categories</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</div>
