<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>How it works</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-search fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Find Artist</strong>
                            </h4>
                            <p class=lead>Search artist that you need for your event through our detailed database with extensive filters.</p>
                            <!--<a href="#" class="btn btn-light">Browse Artists Now!</a>-->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-exchange fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Connect with Artist</strong>
                            </h4>
                            <p class=lead>Send proposal for your selected artist and get the quotation.</p>
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-check-square-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Secure the Booking</strong>
                            </h4>
                            <p class=lead>Once booked, the artist is booked exclusively for your event. We also have proper policies in place that protect you against artist cancellations.</p>
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-music fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Start your gig!</strong>
                            </h4>
                            <p class=lead>We hope you invite us!</p>
                            <!--<a href="#" class="btn btn-light">Learn More</a>-->
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
